{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration_index.css' %}">
    <!-- FontAwesome for icons -->
    <script src="https://kit.fontawesome.com/98e43811f5.js" crossorigin="anonymous"></script>
    <! -- Favicon -->
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">

    <title>aj trader</title>
  </head>
  <body class="bg-dark">
    <div class="container">
      <div class="row m-3">
        <div class="card text-center mt-5">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="registration-list" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#log-in" data-toggle="tab" aria-controls="log-in" aria-selected="true">log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#register" data-toggle="tab" aria-controls="register" aria-selected="false">register</a>
                </li>
            </ul>
          </div>
          <div class="card-body px-5">
            <a href="{% url 'registration_index' %}"><img class="card-img-top" src="{% static 'img/aj-trader-logo.png' %}"></a>
            <div class="tab-content mt-3">
               <div class="tab-pane active" id="log-in" role="tabpanel" aria-labelledby="log-in-tab">
                 <h2 class="card-title">log in</h2>
                 <br>
                 <div class="card-text">
                    <form action="{% url 'registration_index' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col text-left">
                                username:
                            </div>
                            <div class="col">
                                 {{ log_in_form.username }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-left">
                                password:
                            </div>
                            <div class="col">
                                {{ log_in_form.password }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-center">
                                {% if log_in_form.non_field_errors %}
                                    <ul class="list-group">
                                        {% for error in log_in_form.non_field_errors %}
                                            <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary pl-5 pr-5" name="log-in" value="true">log in</button>
                            </div>
                        </div>
                    </form>
                     <br>
                     <div class="font-italic">don't have an account? sign up <a href="#" id="go-to-register">here</a></div>
                 </div>
               </div>
               <div class="tab-pane" id="register" role="tabpanel" aria-labelledby="register-tab">
                 <h2 class="card-title">register</h2>
                 <br>
                 <div class="card-text">
                    <form action="{% url 'registration_index' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col text-left">
                                {{ registration_form.first_name.label|lower }}:
                            </div>
                            <div class="col">
                                 {{ registration_form.first_name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-left">
                                {{ registration_form.last_name.label|lower }}:
                            </div>
                            <div class="col">
                                 {{ registration_form.last_name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-left">
                                {{ registration_form.email.label|lower }}:
                            </div>
                            <div class="col">
                                 {{ registration_form.email }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-left">
                                {{ registration_form.username.label|lower }}:
                            </div>
                            <div class="col">
                                 {{ registration_form.username }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-left">
                                {{ registration_form.password1.label|lower }}:
                            </div>
                            <div class="col">
                                {{ registration_form.password1 }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-left">
                                {{ registration_form.password2.label|lower }}:
                            </div>
                            <div class="col">
                                {{ registration_form.password2 }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col text-center">
                                {% if registration_form.errors %}
                                    <ul class="list-group">
                                        {% for key, value in registration_form.errors.items %}
                                            <li class="list-group-item list-group-item-danger">{{ key|escape }}: {{ value|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary pl-5 pr-5" name="register" value="true">register</button>
                            </div>
                        </div>
                    </form>
                     <br>
                     <div class="font-italic">already have an account? log in <a href="#" id="go-to-log-in">here</a></div>
                 </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{% static 'js/registration_index.js' %}"></script>
  </body>
</html>